body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

div main {
  flex: 1;
}
h1 {
  font-size: 5rem;
}
span {
  color: rgb(2, 2, 127);
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
  
}

.card {
  display: block;

  width: 45%;
}
.left {
  float: left;
}

.right {
  float: right;
}

@media (width <= 700px) {
  body {
    background-color: rgb(255, 0, 191);
  }

  .logo {
    width: 105.2px;
    height: 18.4px;
  }

  .card {
    display: inline-block;

    width: 100%;
  }
  .left {
    flex: 1;
    float: left;
  }

  .right {
    flex: 1;
    float: left;
  }
}

footer {
  clear: both;

  text-align: right;
  color: midnightblue;
}
